<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>용수 사용 현황</title>
</head>
<body>
<h2>용수 사용 현황</h2>
<select id="river">
<option value = "999" selected>------선택하삼-----</option>
</select>

<div id="result"></div><br/>
</body>
<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/approval/usage.js}"></script>
<script th:inline = "javascript">
let select = document.getElementById('river');

let river = /*[[${riverList}]]*/ null;

for (let i = 0; i < river.length; i++) {
	let option = document.createElement('option');
	option.value = river[i].r_code;
	option.textContent = river[i].r_name;
	select.appendChild(option);
}
</script>
</html>